.page-playground {
  height: 100%;
}

.page-playground .main-editor,
.page-playground .CodeMirror {
  height: 100%;
}

.page-playground #assetsNode,
.page-playground #assetsNodeOutdated {
  display: none;
}

.page-playground .ant-spin-nested-loading,
.page-playground .ant-spin-container {
  position: static;
  height: 100%;
}
